ion-content {
    --background: linear-gradient(180deg, #312E38 58.85%, #1B1B1B 100%);
  }

  ion-split-pane {
    --ion-background-color: #000;
  }

  ion-list-header {
    --color: #f0f0f1;
    font-family: Inter, Arail, sans-serif,
  }
  
  
  ion-menu ion-content {
      --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
    
    ion-menu.md ion-content {
      --padding-start: 8px;
      --padding-end: 8px;
      --padding-top: 20px;
      --padding-bottom: 20px;
      --background-color: #000;
      --color: #f0f0f1; 
    }
    
    ion-menu.md ion-list {
      padding: 20px 0;
    }
    
    ion-menu.md ion-note {
      margin-bottom: 30px;
    }
    
    ion-menu.md ion-list-header,
    ion-menu.md ion-note {
      padding-left: 10px;
    }
    
    ion-menu.md ion-list#inbox-list {
      border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
    }
    
    ion-menu.md ion-list#inbox-list ion-list-header {
      font-size: 22px;
      font-weight: 600;
    
      min-height: 20px;
    }
    
    ion-menu.md ion-list#labels-list ion-list-header {
      font-size: 16px;
    
      margin-bottom: 18px;
    
      color: #757575;
    
      min-height: 26px;
    }
    
    ion-menu.md ion-item {
      --padding-start: 10px;
      --padding-end: 10px;
      border-radius: 4px;

      ion-label {
        --color: #f0f0f1;
      }
    }
    
    ion-menu.md ion-item.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.14);
    }
    
    ion-menu.md ion-item.selected ion-icon {
      color: var(--ion-color-primary);
    }
    
    ion-menu.md ion-item ion-icon {
      color: #616e7e;
    }
    
    ion-menu.md ion-item ion-label {
      font-weight: 500;
    }
    
    ion-menu.ios ion-content {
      --padding-bottom: 20px;
    }
    
    ion-menu.ios ion-list {
      padding: 20px 0 0 0;
    }
    
    ion-menu.ios ion-note {
      line-height: 24px;
      margin-bottom: 20px;
    }
    
    ion-menu.ios ion-item {
      --padding-start: 16px;
      --padding-end: 16px;
      --min-height: 50px;
    }
    
    ion-menu.ios ion-item.selected ion-icon {
      color: var(--ion-color-primary);
    }
    
    ion-menu.ios ion-item ion-icon {
      font-size: 24px;
      color: #73849a;
    }
    
    ion-menu.ios ion-list#labels-list ion-list-header {
      margin-bottom: 8px;
    }
    
    ion-menu.ios ion-list-header,
    ion-menu.ios ion-note {
      padding-left: 16px;
      padding-right: 16px;
    }
    
    ion-menu.ios ion-note {
      margin-bottom: 8px;
    }
    
    ion-note {
      display: inline-block;
      font-size: 16px;
    
      color: var(--ion-color-medium-shade);
    }
    
    ion-item.selected {
      --color: var(--ion-color-primary);
    }
  
    ion-router-outlet #container {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    
    ion-router-outlet #container strong {
      font-size: 20px;
      line-height: 26px;
    }
    
    ion-router-outlet #container p {
      font-size: 16px;
      line-height: 22px;
      color: #8c8c8c;
      margin: 0;
    }
    
    ion-router-outlet #container a {
      text-decoration: none;
    }

    ion-router-outlet {
      ion-header {
        --ion-background-color: #000;
        --background: var(--ion-item-background);
        --color: #f0f0f1;
  
        ion-toolbar {
          --ion-background-color: #000;
          --background: var(--ion-item-background);
          --color: #f0f0f1;
  
          ion-title{
            --color: #f0f0f1;
          }
  
          ion-buttons {
           --ion-background-color: #000;
           --background: var(--ion-item-background);
          }
        }
      }
    }
  
    ion-router-outlet .content {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
        h3 {
          font-family: Inter, Arial, sans-serif;
          font-size: 2rem;
          color: #f0f0f1;
        }
  
        p {
          font-family: Poppins, Arial, sans-serif;
          font-size: 1rem;
          color: #f0f0f1;
        }
    }

    ion-router-outlet .content {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
        h3 {
          font-family: Inter, Arial, sans-serif;
          font-size: 1.5rem;
          color: #f0f0f1;
        }
  
        p {
          font-family: Poppins, Arial, sans-serif;
          font-size: 1rem;
          color: #f0f0f1;
        }

        .currency-form {
            width: 60%;
            min-width: 350px;
            height: 150px;
            top: -300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .item-form {
              --background: #222;
              
              ion-label {
                --color: #f0f0f1;
              }

              ion-input {
                --color: #f0f0f1;
                height: fit-content;
              }
            }

            ion-grid {
                .currency {
                    font-family: Poppins, Arial, sans-serif;
                    font-weight: bold;
                    -webkit-font-smoothing: antialiased;
                }
            }
            
            

            ion-content {
                --background: none;
                .button-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 10px;

                    .search-currencies-button {
                        width: 60%;
                        left: 50%;
                        color: #f0f0f1;
                        align-self: center;
                        text-transform: none;
                        font-family: Inter, Arial, sans-serif;
                        font-size: 1rem;
                        
                    }
                }
            }
        }

        .currencies {
          width: 60%;
          height: 51vh;
          min-width: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          
          ion-list {
            width: 100%;
            .item-title {
              font-weight: bold;
              font-family: Poppins, Arial, sans-serif;
            }

            ion-item {
              font-family: Poppins, Arial, sans-serif;
              --background: var(--ion-background-color);
              --border-color: var(--ion-background-color);
              --border-style: none;
              --color: #f0f0f1;
            }
          }
        }
    }