<ion-content>
  <div id="content">
    <div class="login-content">

      <p class="brand-name">Cadastro <ion-icon name="cube-outline"></ion-icon>
      </p>

      <form #formValues="ngForm" (ngSubmit)="createUser(formValues.value)">
        <ion-item>
          <ion-label>
            <ion-icon name="person-outline"></ion-icon>
          </ion-label>
          <ion-input type="email" name="email" placeholder="E-mail" ngModel>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-label>
          <ion-input type="password" name="password" placeholder="Senha" ngModel></ion-input>
        </ion-item>
        <ion-button type="submit" class="login-button">
          Cadastrar
        </ion-button>
      </form>


      <strong><a routerLink="/">Voltar</a></strong>

    </div>
  </div>
</ion-content>